<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ccsu.mapper.UserMapper">
    <resultMap id="UserEntityMap" type="cn.ccsu.entity.User">
        <id column="id" property="id"></id>
        <result column="create_time" property="createTime"></result>
        <result column="create_By" property="createBy"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="update_By" property="updateBy"></result>
    </resultMap>
    <select id="selectByName" resultMap="UserEntityMap">
        SELECT * FROM sys_user WHERE username=#{username} AND isDelete ='1'
    </select>
    <select id="getById" resultMap="UserEntityMap">
        SELECT * FROM sys_user WHERE  id=#{userId} AND isDelete = '1'
    </select>

    <select id="getAll" resultMap="UserEntityMap">
        SELECT id,username,nickname,phone,update_Time FROM sys_user WHERE isDelete='1'
    </select>

    <insert id="insert">
        INSERT INTO sys_user(username,password,nickname,phone,create_time,create_By,update_time,update_By,isDelete) VALUES (#{username},#{password},#{nickname},#{phone},#{createTime},#{createBy},#{updateTime},#{updateBy},#{isDelete})
    </insert>

    <update id="modifyUser">
        UPDATE sys_user SET nickname=#{nickname},phone=#{phone},update_time=#{updateTime},update_By=#{updateBy} WHERE id=#{id}
    </update>

    <update id="deleteUser">
        UPDATE sys_user SET isDelete=#{isDelete},update_time=#{updateTime},update_By=#{updateBy} WHERE id=#{id}
    </update>

    <update id="updatePassword">
        UPDATE sys_user SET password=#{newPassword}, update_time=#{updateTime},update_By=#{updateBy} WHERE id=#{id}
    </update>

    <insert id="assignRoles">
        insert into sys_user_role(
        user_id,role_id
        ) values
        <foreach collection="roleId" item="rId" separator=",">
            (${userId},#{rId})
        </foreach>
    </insert>

    <delete id="removeRoles">
        DELETE FROM sys_user_role WHERE user_id = #{id}
    </delete>
</mapper>